.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.memes {
  padding: 1rem;
}
input[type="text"] {
  width: 80%;
  max-width: 600px;
  padding: 0.1rem;
  margin: 0.1rem;
}
.show-memes {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
.show-memes img {
  max-width: 100%;
}

.show-memes p {
  margin: 0;
  position: absolute;
  font-size: 42px;
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

  text-overflow: ellipsis;
  white-space: wrap;
  /* overflow: hidden; */
}

.show-memes p:nth-child(2) {
  top: 85%;
}
